# پکیج‌های اصلی
opencv-contrib-python-headless>=4.5.0.0
numpy>=1.20.0
imutils>=0.5.4
pyzmq>=22.0.0
protobuf>=3.19.0
mysql-connector-python>=8.0.0
redis>=4.0.0
flask>=2.0.0
python-dotenv>=0.19.0
pillow>=9.0.0
persiantools>=2.0.0

# پکیج‌های اختیاری (در صورت نیاز نصب شوند)
# dlib>=19.20.0
# face-recognition>=1.3.0